.spacer {
    flex: 1 1 auto;
  }

  ::ng-deep .mat-toolbar {
    background-color: #1976d2 !important; 
    color: white; 
  }

  .custom-toolbar button:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
.mat-toolbar{
    text-align: left;
    display:flex;
    justify-content: flex-start;

    button {
        width: 100%;
        text-align: left; 
        padding: 10px; 
        margin: 5px 0; 
      }
}